<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>edit</title>
</head>
<body>

<!--<form th:method="PATCH" th:action="@{/orders/{id}(id=${order.getId()})}" th:object="${order}">-->
<!--  <label for="orderName">Enter name: </label>-->
<!--  <input type="text" th:field="*{orderName}" id="orderName"/>-->
<!--  <div style="color:red" th:if="${#fields.hasErrors('orderName')}" th:errors="*{orderName}">Name Error</div>-->
<!--  <br/>-->
<!--  <label for="serviceOwner">Enter service master: </label>-->
<!--  <input type="text" th:field="*{serviceOwner}" id="serviceOwner"/>-->
<!--  <div style="color:red" th:if="${#fields.hasErrors('serviceOwner')}" th:errors="*{serviceOwner}">Service error</div>-->
<!--  <br/>-->
<!--  <label for="clientOwner">Enter client: </label>-->
<!--  <input type="text" th:field="*{clientOwner}" id="clientOwner"/>-->
<!--  <div style="color:red" th:if="${#fields.hasErrors('clientOwner')}" th:errors="*{clientOwner}">Client error</div>-->
<!--  <br/>-->
<!--  <input type="submit" value="Update!"/>-->
<!--  <br/>-->
<!--  <label for="orderStatus">Order status: </label>-->
<!--  <input type="text" th:field="*{orderStatus}" id="orderStatus"/>-->
<!--  <div style="color:red" th:if="${#fields.hasErrors('orderStatus')}" th:errors="*{orderStatus}">Order error</div>-->
<!--  <br/>-->
<!--  <input type="submit" value="Update!"/>-->
<!--</form>-->

</body>
</html>