<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>new</title>-->
<!--</head>-->
<!--<body>-->

<!--<form th:method="POST" th:action="@{/orders}" th:object="${order}">-->
<!--  <label for="orderName">Enter name: </label>-->
<!--  <input type="text" th:field="*{orderName}" id="orderName"/>-->
<!--  <div style="color:red" th:if="${#fields.hasErrors('orderName')}" th:errors="*{orderName}">Name Error</div>-->
<!--  <br/>-->
<!--  <label for="serviceOwner">Enter service: </label>-->
<!--  <input type="text" th:field="*{serviceOwner}" id="serviceOwner"/>-->
<!--  <div style="color:red" th:if="${#fields.hasErrors('serviceOwner')}" th:errors="*{serviceOwner}">Service error</div>-->
<!--  <br/>-->
<!--  <label for="clientOwner">Enter client: </label>-->
<!--  <input type="text" th:field="*{clientOwner}" id="clientOwner"/>-->
<!--  <div style="color:red" th:if="${#fields.hasErrors('clientOwner')}" th:errors="*{clientOwner}">Client error</div>-->
<!--  <br/>-->
<!--  &lt;!&ndash;    <label for="order">Enter service : </label>&ndash;&gt;-->
<!--  &lt;!&ndash;    <select th:object="${order}" th:field="*{serviceOwner}" id="order">&ndash;&gt;-->
<!--  &lt;!&ndash;        <option th:each="order:${orders}" th:value="${order.getServiceOwner().getId()}"&ndash;&gt;-->
<!--  &lt;!&ndash;                th:text="${order.getServiceOwner().getServiceName()}"></option>&ndash;&gt;-->
<!--  &lt;!&ndash;    </select>&ndash;&gt;-->
<!--  &lt;!&ndash;    <br/>&ndash;&gt;-->

<!--  &lt;!&ndash;  <label for="orderStatus">Order status: </label>&ndash;&gt;-->
<!--  &lt;!&ndash;  <input type="text" th:field="*{orderStatus}" id="orderStatus"/>&ndash;&gt;-->
<!--  &lt;!&ndash;  <div style="color:red" th:if="${#fields.hasErrors('orderStatus')}" th:errors="*{orderStatus}">Order error</div>&ndash;&gt;-->
<!--  &lt;!&ndash;  <br/>&ndash;&gt;-->
<!--  <input type="submit" value="Update!"/>-->
<!--</form>-->


<!--</body>-->
<!--</html>-->