<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Show</title>-->
<!--</head>-->
<!--<body>-->
<!--<p th:text="${'Name: '  + order.getOrderName() + ', Status: ' + order.getOrderStatus() + ', Service:  ' + order.getServiceOwner() + ', Client:  ' + order.getClientOwner()}">VALUE</p>-->
<!--<p></p>-->
<!--<p th:text="${'Status:'}">Description</p>-->
<!--<p th:text="${order.getOrderStatus()}">Description/p>-->


<!--<hr/>-->

<!--<form th:method="GET" th:action="@{/orders/{id}/edit(id=${order.getId()})}">-->
<!--  <input type="submit" value="Edit"/>-->
<!--</form>-->

<!--<form th:method="DELETE" th:action="@{/orders/{id}(id=${order.getId()})}">-->
<!--  <input type="submit" value="Delete"/>-->
<!--</form>-->

<!--</body>-->
<!--</html>-->