<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>edit</title>-->
<!--</head>-->
<!--<body>-->

<!--<form th:method="PATCH" th:action="@{/services/{id}(id=${service.getId()})}" th:object="${service}">-->
<!--    <label for="serviceName">Enter name: </label>-->
<!--    <input type="text" th:field="*{serviceName}" id="serviceName"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('serviceName')}" th:errors="*{serviceName}">Name Error</div>-->
<!--    <br/>-->
<!--    <label for="masterOwner">Enter service master: </label>-->
<!--    <input type="text" th:field="*{masterOwner}" id="masterOwner" size="35"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('masterOwner')}" th:errors="*{masterOwner}">Master error</div>-->
<!--    <br/>-->
<!--    <label for="description">Enter description: </label>-->
<!--    <textarea th:field="*{description}" id="description" rows="5" cols="50"></textarea>-->
<!--    &lt;!&ndash;  <input type="text" th:field="*{description}" id="description"/>&ndash;&gt;-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description error</div>-->
<!--    <br/>-->
<!--    <input type="submit" value="Update!"/>-->
<!--</form>-->

<!--</body>-->
<!--</html>-->