<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Show</title>
</head>
<body>
<p th:text="${'Name: '  + service.getServiceName() + ', Rating: ' + service.getServiceRating() + ', Master service:  ' + service.getMasterOwner()}">VALUE</p>
<p></p>
<p th:text="${'Description:'}">Description</p>
<p th:text="${service.getDescription()}">Description/p>
<p th:text="${'Orders: ' + service.getOrders()}">Orders</p>


<hr/>

<form th:method="GET" th:action="@{/services/{id}/edit(id=${service.getId()})}">
  <input type="submit" value="Edit"/>
</form>

<form th:method="DELETE" th:action="@{/services/{id}(id=${service.getId()})}">
  <input type="submit" value="Delete"/>
</form>

</body>
</html>