<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>new</title>-->
<!--</head>-->
<!--<body>-->

<!--<form th:method="POST" th:action="@{/masters}" th:object="${master}">-->
<!--  <label for="masterName">Enter name: </label>-->
<!--  <input type="text" th:field="*{masterName}" id="masterName"/>-->
<!--  <div style="color:red" th:if="${#fields.hasErrors('masterName')}" th:errors="*{masterName}">Name error</div>-->
<!--  <br/>-->
<!--  <label for="phoneNumber">Enter phone number: </label>-->
<!--  <input type="text" th:field="*{phoneNumber}" id="phoneNumber"/>-->
<!--  <div style="color:red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Phone number error</div>-->
<!--  <br/>-->
<!--  <label for="masterEmail">Enter email: </label>-->
<!--  <input type="text" th:field="*{masterEmail}" id="masterEmail"/>-->
<!--  <div style="color:red" th:if="${#fields.hasErrors('masterEmail')}" th:errors="*{masterEmail}">Email error</div>-->
<!--  <br/>-->
<!--  <p></p>-->
<!--  <input type="submit" value="Create!"/>-->
<!--</form>-->


<!--</body>-->
<!--</html>-->