<!--&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;-->
<!--&lt;!&ndash;<html lang="en">&ndash;&gt;-->
<!--&lt;!&ndash;<head>&ndash;&gt;-->
<!--&lt;!&ndash;    <meta charset="UTF-8">&ndash;&gt;-->
<!--&lt;!&ndash;    <title>Search</title>&ndash;&gt;-->
<!--&lt;!&ndash;</head>&ndash;&gt;-->
<!--&lt;!&ndash;<body>&ndash;&gt;-->

<!--&lt;!&ndash;<p>Find master by name:</p>&ndash;&gt;-->
<!--&lt;!&ndash;<form th:method="GET" th:action="@{/masters/{id}(id=${master.id})}" th:object="${master}">&ndash;&gt;-->
<!--&lt;!&ndash;    <label for="masterName">Enter name: </label>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="text" th:field="*{masterName}" id="masterName"/>&ndash;&gt;-->
<!--&lt;!&ndash;    <div style="color:red" th:if="${#fields.hasErrors('masterName')}" th:errors="*{masterName}">Name Error</div>&ndash;&gt;-->
<!--&lt;!&ndash;    <br/>&ndash;&gt;-->
<!--&lt;!&ndash;    <p></p>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="submit" value="Update!"/>&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->

<!--&lt;!&ndash;<h2>Find Masters</h2>&ndash;&gt;-->

<!--&lt;!&ndash;<form th:object="${master}" th:action="@{/masters}" method="get" class="form-horizontal" id="search-owner-form">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="control-group" id="lastNameGroup">&ndash;&gt;-->
<!--&lt;!&ndash;            <label class="col-sm-2 control-label" for="masterName">Master Name</label>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="col-sm-10">&ndash;&gt;-->
<!--&lt;!&ndash;                <input class="form-control" th:field="*{masterName}" size="30" maxlength="80" id="masterName" />&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="help-inline">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div th:if="${#fields.hasAnyErrors()}">&ndash;&gt;-->
<!--&lt;!&ndash;                        <p th:each="err : ${#fields.allErrors()}" th:text="${err}">Error</p>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </span>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col-sm-offset-2 col-sm-10">&ndash;&gt;-->
<!--&lt;!&ndash;            <button type="submit" class="btn btn-default">Find Beer</button>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->

<!--&lt;!&ndash;<br />&ndash;&gt;-->
<!--&lt;!&ndash;<a class="btn btn-default" th:href="@{/masters/new}">Add Master</a>&ndash;&gt;-->

<!--&lt;!&ndash;<hr/>&ndash;&gt;-->

<!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Search</title>-->
<!--</head>-->
<!--<body>-->

<!--<p>Find master by name:</p>-->
<!--<form th:method="GET" th:action="@{/masters/{id}(id=${master.getId()})}" th:object="${master}">-->
<!--    <label for="masterNameInput">Enter name: </label>-->
<!--    <input type="text" th:field="*{masterName}" id="masterNameInput"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('masterName')}" th:errors="*{masterName}">Name Error</div>-->
<!--    <br/>-->
<!--    <p></p>-->
<!--    <input type="submit" value="Update!"/>-->
<!--</form>-->

<!--<h2>Find Masters</h2>-->

<!--<form th:object="${master}" th:action="@{/masters}" method="get" class="form-horizontal" id="search-master-form">-->
<!--    <div class="form-group">-->
<!--        <div class="control-group" id="searchMasterNameGroup">-->
<!--            <label class="col-sm-2 control-label" for="searchMasterNameInput">Master Name</label>-->
<!--            <div class="col-sm-10">-->
<!--                <input class="form-control" th:field="*{masterName}" size="30" maxlength="80" id="searchMasterNameInput" />-->
<!--                <span class="help-inline">-->
<!--                    <div th:if="${#fields.hasAnyErrors()}">-->
<!--                        <p th:each="err : ${#fields.allErrors()}" th:text="${err}">Error</p>-->
<!--                    </div>-->
<!--                </span>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <div class="col-sm-offset-2 col-sm-10">-->
<!--            <button type="submit" class="btn btn-default">Find Beer</button>-->
<!--        </div>-->
<!--    </div>-->
<!--</form>-->

<!--<br />-->
<!--<a class="btn btn-default" th:href="@{/masters/new}">Add Master</a>-->

<!--<hr/>-->

<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Masters</title>
</head>
<body>
<h1>Search Masters</h1>
<form action="/masters/search" method="get">
    <label for="masterName">Master Name:</label>
    <input type="text" id="masterName" name="masterName" th:value="${masterName}">
    <button type="submit">Search</button>
</form>

<hr>

<h2>Search Results</h2>
<div th:if="${master != null}">
    <p>Master Name: <span th:text="${master.getMasterName()}"></span></p>
    <p>Master Rating: <span th:text="${master.getMasterRating()}"></span></p>
    <p>Phone Number: <span th:text="${master.getPhoneNumber()}"></span></p>
    <p>Email: <span th:text="${master.getMasterEmail()}"></span></p>
</div>
<div th:unless="${master != null}">
    <p>No master found with the provided name.</p>
</div>
</body>
</html>
