<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salon</title>
    <link rel="stylesheet" href="/css/styles.css" >
</head>
<body>
<div class="container">
    <header>
        <h1>BEAUTYSALOON</h1>
        <div class="right_corner_top">
            <h2>LOGIN</h2>
            <img src="/images/search.png" alt="search">
        </div>
        <img class="menu" src="/images/menu_icon.png">

    </header>
    <main>
        <div class="master">
            <h1>MASTER</h1>
            <p class="master_id"><span th:text="${master.getId()}"></span></p>
            <h2> <span th:text="${master.getMasterName()}"></span></h2>
            <h3>RATING:5</h3>
            <img class="square" src="/images/what.png">
            <img class="yello_small_button" src="/images/small_button.png">
            <p class="edit">EDIT</p>
            <img class="yello_small_button2" src="/images/small_button.png">
            <p class="delete">DELETE</p>
            <img class="phone_button" src="/images/phone.png">
            <p class="phone"><span th:text="${master.getPhoneNumber()}"></span></p>
            <img class="email" src="/images/email.png">
            <p class="email_text"><span th:text="${master.getMasterEmail()}"></span></p>
            <p class="services">SERVICES</p>
            <span th:each="service, iterStat : ${master.getServices()}">
                                <a th:href="@{/services/{serviceId}(serviceId=${service.getId()})}"
                                   th:text="${service.getServiceName()}"></a>
                            <span th:if="${!iterStat.last}">; </span>
                            </span>
            <img class="arrow_left" src="/images/arrow_left.png">
            <img class="arrow_right" src="/images/arrow.png">
            <div class="buttons_big">
                <img class="main_button" src="/images/mainbutton.png">
                <img class="main_button2" src="/images/mainbutton.png">
                <img class="main_button3" src="/images/mainbutton.png">
                <img class="main_button4" src="/images/mainbutton.png">
                <img class="main_button5" src="/images/mainbutton.png">
                <p class="text1">Text1</p>
                <p class="text2">Text2</p>
                <p class="text3">Text3</p>
                <p class="text4">Text4</p>
                <p class="text5">Text5</p>
            </div>
        </div>

    </main>
    <footer>

    </footer>
</div>
</body>
</html>