<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Show</title>-->
<!--</head>-->
<!--<body>-->
<!--<p th:text="${'Name: '  + master.getMasterName()}">NAME</p>-->
<!--<p th:text="${'Rating: ' + master.getMasterRating()}">RATING</p>-->
<!--<p th:text="${'Phone Number:  ' + master.getPhoneNumber()}">PHONE NUMBER</p>-->
<!--<p th:text="${'Email: ' + master.getMasterEmail()}">EMAIL</p>-->
<!--<p th:text="${'Services: ' + master.getServices()}">SERVICES</p>-->


<!--<div class="master-details">-->
<!--  <p><strong>Master ID:</strong> <span th:text="${master.getId()}"></span></p>-->
<!--  <p><strong>Rating:</strong> <span th:text="${master.getMasterRating()}"></span></p>-->
<!--  <p><strong>Master's services:</strong> <span th:text="${master.getServices()}"></span></p>-->
<!--</div>-->


<!--<hr/>-->

<!--<form th:method="GET" th:action="@{/masters/{id}/edit(id=${master.getId()})}">-->
<!--  <input type="submit" value="Edit"/>-->
<!--</form>-->
<!--<p></p>-->

<!--<form th:method="DELETE" th:action="@{/masters/{id}(id=${master.getId()})}">-->
<!--  <input type="submit" value="Delete"/>-->
<!--</form>-->

<!--</body>-->
<!--</html>-->