<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>BeautySaloon</title>


    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>


    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>


    <link href="/css/style.css" rel="stylesheet"/>

    <link href="/css/responsive.css" rel="stylesheet"/>


</head>
<body>
<div th:insert="samples/sample :: header"></div>

<section class="gallery_section layout_padding">


    <div class="container">
        <div class="row">
            <div class="col-lg-5 ml-auto">
                <div class="heading_container">


                    <div class="master-details">
                        <p><strong>Master's ID:</strong> <span th:text="${master.getId()}"></span></p>
                        <p><strong>Master's name:</strong> <span th:text="${master.getMasterName()}"></span></p>
                        <p><strong>Rating:</strong> <span th:text="${master.getMasterRating()}"></span></p>
                        <p><strong>Phone number:</strong> <span th:text="${master.getPhoneNumber()}"></span></p>
                        <p><strong>Email:</strong> <span th:text="${master.getMasterEmail()}"></span></p>
                        <p><strong>Created Date:</strong> <span th:text="${master.getCreatedDate()}"></span></p>
                        <p><strong>Updated Date:</strong> <span th:text="${master.getUpdatedDate()}"></span></p>
                    </div>
                    Services:
                    <span th:each="service, iterStat : ${master.getServices()}">
                                <a th:href="@{/services/{serviceId}(serviceId=${service.getId()})}"
                                   th:text="${service.getServiceName()}"></a>
                            <span th:if="${!iterStat.last}">; </span>
                            </span>


                    <hr/>

                    <form th:method="GET" th:action="@{/masters/{id}/edit(id=${master.getId()})}">
                        <input type="submit" value="Edit"/>
                    </form>
                    <p></p>

                    <form th:method="DELETE" th:action="@{/masters/{id}(id=${master.getId()})}">
                        <input type="submit" value="Delete"/>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>


<div th:insert="samples/sample :: info-section"></div>


<div th:insert="samples/sample :: footer"></div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<script src="/js/custom.js"></script>
</body>
</html>
