<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Index</title>-->
<!--</head>-->
<!--<body>-->

<!--<div th:each="client : ${clients}">-->
<!--  <a th:href="@{/clients/{id}(id=${client.getId()})}"-->
<!--     th:text="${'Name: '  + client.getClientName() + ', Email: ' + client.getClientEmail() + ', Phone Number:  ' + client.getPhoneNumber()}">master</a>-->
<!--</div>:-->

<!--<br/>-->
<!--<hr/>-->

<!--<a href="/clients/new">Create new Client</a>-->

<!--</body>-->
<!--</html>-->