<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>BeautySaloon</title>


    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>


    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>


    <link href="/css/style.css" rel="stylesheet"/>

    <link href="/css/responsive.css" rel="stylesheet"/>


</head>
<body>
<div class="hero_area">

    <div th:insert="samples/sample :: header"></div>

    <section class="gallery_section layout_padding">


        <div class="container">
            <div class="row">
                <div class="col-lg-5 ml-auto">
                    <div class="heading_container">
                        <form th:method="POST" th:action="@{/clients}" th:object="${client}">
                            <label for="clientName">Enter name: </label>
                            <input type="text" th:field="*{clientName}" id="clientName"/>
                            <div style="color:red" th:if="${#fields.hasErrors('clientName')}" th:errors="*{clientName}">
                                Name error
                            </div>
                            <br/>
                            <label for="phoneNumber">Enter phone number: </label>
                            <input type="text" th:field="*{phoneNumber}" id="phoneNumber"/>
                            <div style="color:red" th:if="${#fields.hasErrors('phoneNumber')}">
                                <p th:each="error : ${#fields.errors('phoneNumber')}" th:text="${error}"></p>
                            </div>
                            <br/>
                            <label for="clientEmail">Enter email: </label>
                            <input type="text" th:field="*{clientEmail}" id="clientEmail"/>
                            <div style="color:red" th:if="${#fields.hasErrors('clientEmail')}">
                                <p th:each="error : ${#fields.errors('clientEmail')}" th:text="${error}"></p>
                            </div>
                            <br/>
                            <p></p>
                            <input type="submit" value="Create!"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<div th:insert="samples/sample :: info-section"></div>


<div th:insert="samples/sample :: footer"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<script src="/js/custom.js"></script>
</body>
</html>
