<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>BeautySaloon</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/css/responsive.css" rel="stylesheet" />


</head>
<body>
<div class="hero_area">
  <!-- header section strats -->
  <div th:insert="samples/sample :: header"></div>
  <!-- end header section -->

  <!-- slider section -->
  <!-- gallery section -->
  <section class="gallery_section layout_padding">


    <div class="container">
      <div class="row">
        <div class="col-lg-5 ml-auto">
          <div class="heading_container">
            <h1>Search Clients</h1>
            <form action="/clients/search" method="get">
              <label for="clientName">Client Name:</label>
              <input type="text" id="clientName" name="clientName" th:value="${clientName}">
              <button type="submit">Search</button>
            </form>

            <hr>

            <h2>Search Results</h2>
            <div th:if="${clients != null and not #lists.isEmpty(clients)}">
              <ul>
                <li th:each="client : ${clients}">
                  <a th:href="@{/clients/{id}(id=${client.getId()})}"
                     th:text="${'Client name :  ' + client.getClientName()}">service</a>
                  <p th:text="${'Phone Number:  ' + client.getPhoneNumber()}">PHONE NUMBER</p>
                  <p th:text="${'Email: ' + client.getClientEmail()}">EMAIL</p>
                  Orders:
                  <span th:each="order, iterStat : ${client.getOrders()}">
                                <a th:href="@{/orders/{orderId}(orderId=${order.getId()})}"
                                   th:text="${order.getOrderName()}"></a>
                            <span th:if="${!iterStat.last}">; </span>
                            </span>
                  <hr>
                </li>
              </ul>
            </div>
            <div th:unless="${clients != null and not #lists.isEmpty(clients)}">
              <p>No clients found with the provided name.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end gallery section -->

  <!-- info section -->


  <!-- end slider section -->
</div>

<div th:insert="samples/sample :: info-section"></div>

<!-- footer section -->
<div th:insert="samples/sample :: footer"></div>
<!-- footer section -->

<!-- Javascript files -->
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<!-- custom script -->
<script src="/js/custom.js"></script>
</body>
</html>
